body,ul,li,dl,dt,dd,h3,h4,p{margin: 0;padding: 0;}
li{ list-style: none;}
.oa-btn{ display: inline-block; border-radius: 3px; background: #f4f4f4; background:-webkit-linear-gradient(top,#f4f4f4,#f3f3f3);background:-moz-linear-gradient(top,#f4f4f4,#f3f3f3); border: 1px solid #dedede; padding: 0 10px; height: 22px;line-height: 22px; margin-right: 10px; -webkit-transition: 500ms;
-moz-transition: 500ms;
-ms-transition: 500ms;
-o-transition: 500ms;
transition: 500ms;}
.oa-btn:hover{ background: #f1f8ff; border-color: #9abdd3; color: #244875; text-decoration: none;}
.clearfix{*zoom:1;}
.clearfix:after{display:block; content:"clear"; height:0; clear:both; overflow:hidden; visibility:hidden;}
